input:-webkit-autofill {
    box-shadow: 0 0 0 1000px rgb(250,250,250) inset;
    -webkit-text-fill-color: #000000;
}

#head{
    width: 100% !important;
    min-width: 1260px;
    background:rgb(198,47,47) !important;
}

#header{
    width: 1260px !important;
    margin: 0 auto;
    background:rgb(198,47,47) !important;
}

.logo-text,.add{
    color: white !important;
}

.user .user-way a{
    color: white !important;
}

.user .user-way a:hover{
    color: rgb(198,47,47) !important;
}

.user-way{
    border-color:white !important ;
}

.user-way:hover{
    border-color: rgb(198,47,47) !important;
    background: white !important;
}

.user-wrap{
    color: white !important;
}

.main{
    min-width: 1260px;
    height: 440px;
}

.forget-head-back{
    background: rgb(241,241,241);
    min-width: 1260px;
}

.forget-head{
    width: 800px;
    height: 80px;
    padding: 10px 0;
    margin: 0 auto;
    display: flex;
    line-height: 40px;
}

.forget-title .forget-num{
    margin: 0 auto;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background: rgb(204,204,204);
    display: block;
    border-radius: 15px;
    color: white;
}

.forget-wrap{
    display: inline-block;
    width: 280px;
    height: 2px;
    background: rgb(204,204,204);
    vertical-align: middle;
    margin: 15px 10px 0;
}

.forget-title-active .forget-num{
    background: rgb(198,47,47);
}
.forget-title-active .forget-text{
    color: rgb(198,47,47);
}

.forget-wrap-active{
    background: linear-gradient(45deg,rgba(198,47,47), transparent);
}

.forget-wrap-over{
    background: rgba(198,47,47);
}

.forget-content,
.forget-over{
    width: 500px;
    margin: 70px auto;
    padding: 0  60px;
    height: 230px;
    position: relative;
}

.forget-content span{
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
    width: 110px;
    text-align: center;
}

.forget-content input{
    width: 230px;
    height: 30px;
    margin: 12px 0;
    text-indent: 10px;
    border: 1px solid rgb(212,212,212);
    background:rgb(250,250,250);
}

.forget-content .forget-submit{
    width: 80px;
    height: 30px;
    margin: 15px 115px;
    background: rgb(255,102,0);
    color: white;
    border: none;
    cursor: pointer;
}

.forget-over img{
    display: inline-block;
    vertical-align: middle;
}

.forget-over h1{
    display: inline-block;
    vertical-align: middle;
    margin: 0 27px;
    color: rgb(198,47,47);
}

.forget-over span{
    position: absolute;
    bottom: 0;
    right: 0;
}

.forget-over span a{
    display: inline-block;
    vertical-align: middle;
    color: rgb(198,47,47);
}

.forget-over span img{
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 25px;
}

.forget-prompt{
    font-size: 11px;
    position: absolute;
    bottom: 28%;
    left: 35%;
    color: chocolate;
    height: 20px;
}