<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css" />
</head>
<body>
<div class="top">
    <div class="bigbox">
        <div class="top-right">
            <img src="../static/img/1.png">
            <div class="logo">火图网</div>
            <div id="small-logo">专业图片服务</div>
        </div>

        <div class="top-middle">
            <input class="field" placeholder="  每日免费设计素材任意下载" />
            <button class="fields"><i class="fa fa-search" aria-hidden="true"></i></button>
        </div>

        <div class="top-left">
            <div class="add"><a><img src="../static/img/3.png">
                <p>更多服务 </p>
            </a></div>
            <div class="add"><a><img src="../static/img/4.png">
                <p>加入Vip</p>
            </a></div>
            <div class="user"><a>登录</a>|<a>注册</a></div>
        </div>
    </div>
</div>

<div class="bigbox">
    <div class="describe"></div>
</div>
<style>
    .describe{
        background: white;
        height: 1000px;
    }
</style>
</body>
</html>