<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="head"  th:fragment="head">
        <div id="head-back">
            <div id="header">
                <div class="logo-text">
                    <img th:src="@{/img/logo.png}">
                    <div class="logo">火图网</div>
                    <div class="small-logo">提供专业图片服务</div>
                </div>
                <div id="logo-way">
                    <span class="logo-dot">·</span>
                    <span class="logo-way-text">个人中心</span>
                </div>
                <div id="login">
                    <div class="add"><a><img th:src="@{/img/sheng.png}"><p>更多服务 </p></a></div>
                    <div class="user">
                        <span class="user-way left">
                            <a th:href="@{/main/rotation}">首页</a>
                        </span>
                        <span class="user-wrap">|</span>
                        <span class="user-way right">
                            <a th:href="@{/accountPersonal/goOut}">退出</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="edition" th:fragment="edition">Copyright © 2020 火图网 版权所有</div>
</body>
</html>